DOCKER=1
NODE_ID={{.Node.ID}}
TASK_ID={{.Task.ID}}
SERVICE_ID={{.Service.ID}}
AMQP_HOST=bus_rabbitmq
AMQP_PORT=5672
MYSQL_ROOT_USERNAME=root
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=cloud_os_mysql1
MYSQL_USERNAME=root
MYSQL_PASSWORD=
CLOUD_KEY=
CLOUD_BUS_GATEWAY=bus_gateway