DOCKER=1
NODE_ID={{.Node.ID}}
TASK_ID={{.Task.ID}}
SERVICE_ID={{.Service.ID}}
MYSQL_ROOT_USERNAME=root
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=mysql1
MYSQL_USERNAME=root
MYSQL_PASSWORD=
AUTH_COOKIE_NAME=cloud_os_token
AUTH_COOKIE_EXPIRE=86400
AMQP_HOST=cloud_os_rabbitmq
AMQP_PORT=5672
CLOUD_KEY=