[submodule "src/lib/Runtime"]
	path = src/lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "src/lib/Runtime.Crypt"]
	path = src/lib/Runtime.Crypt
	url = https://github.com/bayrell/Runtime.Crypt
[submodule "src/lib/Runtime.ORM"]
	path = src/lib/Runtime.ORM
	url = https://github.com/bayrell/Runtime.ORM
[submodule "src/lib/Runtime.Web"]
	path = src/lib/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "src/lib/Runtime.Unit"]
	path = src/lib/Runtime.Unit
	url = https://github.com/bayrell/Runtime.Unit
[submodule "src/lib/Runtime.Console"]
	path = src/lib/Runtime.Console
	url = https://github.com/bayrell/Runtime.Console
[submodule "src/lib/Runtime.XML"]
	path = src/lib/Runtime.XML
	url = https://github.com/bayrell/Runtime.XML
[submodule "src/lib/Runtime.Widget"]
	path = src/lib/Runtime.Widget
	url = https://github.com/bayrell/Runtime.Widget
[submodule "src/lib/Runtime.Widget.Crud"]
	path = src/lib/Runtime.Widget.Crud
	url = https://github.com/bayrell/Runtime.Widget.Crud
[submodule "src/lib/Runtime.Widget.Table"]
	path = src/lib/Runtime.Widget.Table
	url = https://github.com/bayrell/Runtime.Widget.Table
[submodule "src/lib/Runtime.Widget.Dialog"]
	path = src/lib/Runtime.Widget.Dialog
	url = https://github.com/bayrell/Runtime.Widget.Dialog
[submodule "src/lib/Runtime.Widget.Form"]
	path = src/lib/Runtime.Widget.Form
	url = https://github.com/bayrell/Runtime.Widget.Form
[submodule "src/lib/Runtime.Widget.Tab"]
	path = src/lib/Runtime.Widget.Tab
	url = https://github.com/bayrell/Runtime.Widget.Tab
[submodule "src/lib/Runtime.Widget.CodeMirror"]
	path = src/lib/Runtime.Widget.CodeMirror
	url = https://github.com/bayrell/Runtime.Widget.CodeMirror
