[submodule "src/lib/Runtime"]
	path = src/lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "src/lib/Runtime.Web"]
	path = src/lib/Runtime.Web
	url = https://github.com/bayrell/Runtime.Web
[submodule "src/lib/Runtime.Crypt"]
	path = src/lib/Runtime.Crypt
	url = https://github.com/bayrell/Runtime.Crypt
[submodule "src/lib/Runtime.ORM"]
	path = src/lib/Runtime.ORM
	url = https://github.com/bayrell/Runtime.ORM
[submodule "src/lib/Runtime.ORM.MySQL"]
	path = src/lib/Runtime.ORM.MySQL
	url = https://github.com/bayrell/Runtime.ORM.MySQL
[submodule "src/lib/Runtime.Task"]
	path = src/lib/Runtime.Task
	url = https://github.com/bayrell/Runtime.Task
[submodule "src/lib/Runtime.Web.Button"]
	path = src/lib/Runtime.Web.Button
	url = https://github.com/bayrell/Runtime.Web.Button
