[submodule "src/modules/core"]
	path = src/modules/core
	url = https://github.com/tiny-php/core
[submodule "src/modules/orm"]
	path = src/modules/orm
	url = https://github.com/tiny-php/orm
[submodule "src/modules/vue-helper"]
	path = src/modules/vue-helper
	url = https://github.com/tiny-php/vue-helper
