*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,html{
    padding: 0;
    margin: 0;
	height: 100vh;
    width: 100%;
	font-family: Tahoma;
	font-size: 14px;
}
#frontend_root{
	position: relative;
    display: grid;
}
.scroll-lock{
    overflow: hidden;
}
a{
    text-decoration: underline;
    color: #0000d0;
    cursor: pointer;
}
a:hover,a:visited:hover{
    text-decoration: underline;
    color: red;
}
a:visited{
    text-decoration: underline;
    color: #900060;
}
a.link{
    text-decoration: none;
    color: #0000d0;
    cursor: pointer;
}
a.link:hover,a.link:visited:hover{
    text-decoration: underline;
    color: red;
}
a.link:visited{
    text-decoration: none;
    color: #0000d0;
}
a.link2{
    text-decoration: none;
    color: inherit;
}
a.link2:hover,a.link2:visited,a.link2:visited:hover{
    text-decoration: underline;
    color: inherit;
}
a.link2:visited{
    text-decoration: none;
    color: inherit;
}
a.nolink{
    text-decoration: inherit;
    color: inherit;
}
a.nolink:hover,a.nolink:visited,a.nolink:visited:hover{
    text-decoration: inherit;
    color: inherit;
}
.cursor{
    cursor:pointer;
}
.nowrap{
    white-space: nowrap;
}
.bold{
    font-weight:bold;
}
.nobold{
    font-weight:normal;
}
.underline{
	text-decoration: underline;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.clear{
    clear: both;
}
.float_left{
    float:left;
}
.float_right{
    float:right;
}
.block{
    display: block !important;
}
.hidden{
    display: none !important;
}
.inline_block{
    font-size: 0;
}
.inline_block_item{
    display:inline-block;
    font-size: 14px;
    vertical-align:top;
}
.b{
}
.b_out{
    display: table;
    width: 100%;
    height: inherit;
}
.b_in{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.money{
    text-align: right;
	white-space: nowrap;
}
.money--positive{
    color: green;
}
.money--negative{
    color: red;
}
