// Include any default variable overrides here
$enable-dark-mode: false;
$enable-rounded: false;
$btn-padding-x: 1rem;
$btn-padding-y: 0.35rem;
$btn-padding-x-sm: 0.7rem;
$btn-padding-y-sm: 0.35rem;
$btn-font-size-sm: 0.95rem;
$line-height-base: 1.2;
$line-height-sm: 1;

// Include Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";