$color_primary: #337ab7;
$color_danger: #d14b42;
$color_success: #090;
$color_selected: #337ab7;
$color_selected_background: #fff;
$color_border: #e7e7e7;
$color_hover: #eee;
$color_table_border: #ccc;
$color_table_hover: #eee;
$color_table_selected: #337ab7;